@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 60;
}

body{
    font-family:'Courier New', Courier, monospace;
  background-color: var(--rosa);  
  color: var(--rosa-escu);
}