:root {
--rosa: #e8c2caff;
--rosa-es: #d1b3c4ff;
--rosa-esc: #b392acff;
--rosa-escu: #735d78ff;
/* CSS HEX */
--azul: #badefcff;
--roxo-escuro: #29274cff;
--roxo-claro: #7e52a0ff;
--lilas: #d295bfff;
}